[alias]
    s = status
    commend = commit --amend --no-edit
    create = "!f() { git checkout -b squalrus/$1; }; f"
    erdone = pull --recurse-submodules
    publish = !"git push --set-upstream origin $(git branch-name)"
    branch-name = rev-parse --abbrev-ref HEAD
[credential]
    helper = manager
# normal, black, red, green, yellow, blue, magenta, cyan, or white
# bold, dim, ul (underline), blink, and reverse (swap foreground and background)
[color]
    ui = true
[core]
    editor = 'C:\\Program Files\\Microsoft VS Code\\Code.exe' -w -n
    # Command Line Interface (CLI): https://code.visualstudio.com/docs/editor/command-line#_core-cli-options
[difftool]
    prompt = false
[merge]
    tool = tortoisemerge
[mergetool "tortoisemerge"]
    prompt = false
    keepBackup = false
    path = C:\\Program Files\\TortoiseGit\\bin\\tortoisegitmerge.exe
[push]
    default = simple
[user]
    email = chad.awesome@gmail.com
    name = Chad Schulz
