[alias]
    s = status
    co = checkout
    commend = commit --amend --no-edit
[credential]
    helper = !'C:\\Users\\chschulz\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
# normal, black, red, green, yellow, blue, magenta, cyan, or white
# bold, dim, ul (underline), blink, and reverse (swap foreground and background)
[color]
    ui = true
[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold
[core]
    editor = 'C:\\Program Files\\Microsoft VS Code\\Code.exe' -w -n
    # Command Line Interface (CLI): https://code.visualstudio.com/docs/editor/command-line#_core-cli-options
[difftool]
    prompt = false
[merge]
    tool = tortoisemerge
[mergetool "tortoisemerge"]
    prompt = false
    keepBackup = false
    path = C:\\Program Files\\TortoiseGit\\bin\\tortoisegitmerge.exe
[push]
    default = simple
[user]
    email = chschulz@microsoft.com
    name = Chad Schulz
