[alias]
    branch-name = rev-parse --abbrev-ref HEAD
    commend = commit --amend --no-edit
    create = "!f() { git checkout -b squalrus/$1; }; f"
    erdone = pull --recurse-submodules
    publish = !"git push --set-upstream origin $(git branch-name)"
    reset-le = !"git rm .gitattributes && git add . && git reset --hard"
    s = status
    whodunit = log --full-history --
[credential]
    helper = !'C:\\Users\\chschulz\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[color]
    # normal, black, red, green, yellow, blue, magenta, cyan, or white
    # bold, dim, ul (underline), blink, and reverse (swap foreground and background)
    ui = true
[core]
    # Command Line Interface (CLI): https://code.visualstudio.com/docs/editor/command-line#_core-cli-options
    editor = 'C:\\Program Files\\Microsoft VS Code\\Code.exe' -w -n
[difftool]
    prompt = false
[merge]
    tool = tortoisemerge
[mergetool "tortoisemerge"]
    prompt = false
    keepBackup = false
    path = C:\\Program Files\\TortoiseGit\\bin\\tortoisegitmerge.exe
[push]
    default = simple
[user]
    email = chschulz@microsoft.com
    name = Chad Schulz
