[credential]
	helper = !'C:\\Users\\chschulz\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[core]
	editor = 'C:\\Program Files\\Sublime Text 3\\subl.exe' -w
[difftool]
	prompt = false
[merge]
	tool = tortoisemerge
[mergetool "tortoisemerge"]
	prompt = false
    keepBackup = false
    path = C:\\Program Files\\TortoiseGit\\bin\\tortoisegitmerge.exe
[push]
	default = simple
[user]
	email = chschulz@microsoft.com
	name = Chad Schulz
[alias]
    s = status
    co = checkout
    commend = commit --amend --no-edit

# normal, black, red, green, yellow, blue, magenta, cyan, or white
# bold, dim, ul (underline), blink, and reverse (swap foreground and background)
[color]
    ui = true
[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold
